@import url("whitespace-reset.css");

html {
  font: normal 16px Helvertica, Arial, sans-serif;
  background: #FCCF3E;
}

* {
  box-sizing: border-box;
}

header, main {
  margin: 0 auto 40px auto;
  width: 900px;
}

header {
  background-color: #2272B4;
  color: #FFFEFF;
  margin-bottom: 30px;
  padding: 31px 25px 30px 25px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

h1 {
  font: bold 2.4rem Helvertica, Arial, sans-serif;
}

main {
  background-color: #E9E9E9;
  padding: 26px 7px 25px 25px;
}

h2 {
  font: 900 32px Helvertica, Arial, sans-serif;  
}

ul {
  display: flex;
  padding-top: 24px;
  flex-wrap: wrap;
}

li {
  background-color: white;
  margin-bottom: 17px;
  margin-right: 17px;
  width: 200px;
}

li a {
  padding: 15px;
  display: block;
  height: 235px;
  text-decoration: none;
  color: black;
}

li a img {
  display: block;
  height: 140px;
  margin: 0 auto;
}

h3 {
  padding: 21px 0 4px 0;
  font: bold 1.2rem Helvertica, Arial, sans-serif;  
}

figure a,
.products,
.products-background {
  position: absolute;
  width: 100%;
  height: 100%; 
}

.products {
  z-index: 1;
}

.products-background {
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.5;
  z-index: 2;
}

figure a {
  display: flex;
  z-index: 3;
}

figure img {
  display: block;
  height: 500px;
  margin: 100px auto auto;
}

.current-product {
  opacity: 0;
}

input[type="checkbox"] {display: none}
input:checked + img {
  display: block;
  height: 500px;
  margin: 100px auto auto;
}

input:checked + img:before {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.5;
}




